@import url(//cdn.design-factory.co.kr/_font/eraser/fonts.css);
@import url(//cdn.design-factory.co.kr/_font/jalnangothic/fonts.css);
@import url(//cdn.design-factory.co.kr/_font/nexon_lv1_gothic/fonts.css);
@import url(//cdn.design-factory.co.kr/_font/pretendard/fonts.css);

* {font-family:"Pretendard", sans-serif;}

/*

    font-family:"Eraser", sans-serif;
	font-family:"JalnanGothic", sans-serif;
    font-family:"NEXON Lv1 Gothic", sans-serif;
    
*/

/*
	vw 계산 기준 1920
*/

html {-webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none; -o-text-size-adjust:none; -ms-overflow-style:none; scrollbar-width:none; overflow-x: hidden;}
html::-webkit-scrollbar {display:none;}
body {width:100%; margin:0 auto; padding:0; font-size:13px; line-height:normal; overflow-x: hidden; overflow-y:scroll; position:relative; scrollbar-width:none;}
body.hidden {height:100%; min-height:100%; overflow:hidden !important; touch-action:none;}
body::-webkit-scrollbar {display:none;}
img {border:none; margin:0; padding:0; outline:none;}
a {border:none; margin:0; padding:0; outline:none; text-decoration:none;}
a:active {color:#666666; text-decoration:none;}
a:link {color:#666666; text-decoration:none;}
a:visited {color:#666666; text-decoration:none;}
a:hover {color:#666666; text-decoration:none;}
p {margin:0; padding:0;}
ul {list-style:none; margin:0; padding:0;}
ul:after {content:""; display:block; clear:both;}
ul > li {display:block;}

img.fx{max-width:100%;}

td {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

input, select, textarea {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin:0; 
	padding:0; 
	outline:none; 
	font-size:20px; 
	color:#000000;
	font-weight:400;
	font-family:"NEXON Lv1 Gothic", sans-serif;
}

input::placeholder {color:#D9D9D9; opacity:1;}
input::-webkit-input-placeholder {color:#D9D9D9;}
input:-ms-input-placeholder {color:#D9D9D9;}
input:-moz-input-placeholder {color:#D9D9D9;}

textarea {overflow-y:scroll; resize:none;}

textarea::placeholder {color:#D9D9D9; opacity:1;}
textarea::-webkit-input-placeholder {color:#D9D9D9;}
textarea:-ms-input-placeholder {color:#D9D9D9;}
textarea:-moz-input-placeholder {color:#D9D9D9;}

input[type=text], input[type=password] ,input[type=tel], input[type=file], input[type=image], input[type=button], input[type=submit], textarea {
	border-radius:0; 
	-moz-border-radius:0; 
	-webkit-border-radius:0;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	width:100%;
}

select {
	border-radius:0; 
	-moz-border-radius:0; 
	-webkit-border-radius:0;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background-color:#ffffff;
	background-image:url("/img/sub/select_arrow.png");
	background-repeat:no-repeat;
	background-position:right 10px center;
	width:100%;
	padding:0 29px 0 10px;
}

select::-ms-expand {display:none;}

.w_con {}
.m_con {display:none;}

.w_img {display:inline-block; width:100%;}
.m_img {display:none;}

.w_br {}
.m_br {display:none;}

.w_bar {}
.m_bar {display:none;}

/* 체크박스 버튼 */
.checkbox_label {display:inline-block; cursor:pointer;}
.checkbox_label input[type=checkbox] {display:none;}
.checkbox_label .check_icon {display:inline-block; width:32px; height:32px; background:url("/pf/ts_ox/img/sub/checkbox_icon_off.svg") no-repeat center/cover; margin:0; vertical-align:middle; cursor:pointer;}
.checkbox_label span {vertical-align:middle;}
.checkbox_label input[type=checkbox]:checked + .check_icon {background-image:url("/pf/ts_ox/img/sub/checkbox_icon_on.svg");}

#wrap {width:100%; /*min-width:280px;*/ margin:0 auto; position:relative; top:0; left:0; z-index:10;}

/* 비율 조정으로 추가 */
#scale_con {transform:scale(0.8); transform-origin:top center;}

/* 격자 배경 */
.grid_bg {display: grid; grid-template-columns: repeat(auto-fill, 40px); grid-template-rows: repeat(auto-fill, 40px); width:100%; min-width:1980px; height:100%; background:url("/pf/ts_ox/img/grid_bg.png") #155E2A no-repeat center/cover; position:absolute; top:0; left:50%; transform:translateX(-50%);}
.grid_bg:before {content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: repeating-linear-gradient(to right, transparent, transparent 39px, rgba(21, 94, 42, 0.3) 39px, rgba(21, 94, 42, 0.3) 40px), repeating-linear-gradient(to bottom, transparent, transparent 39px, rgba(21, 94, 42, 0.3) 39px, rgba(21, 94, 42, 0.3) 40px);}

/* wrap 배경 */
.wrap_bg_con {}
.wrap_bg_con > .bg {width:1086px; position:absolute; left:50%; transform:translateX(-50%);}
.wrap_bg_con > .bg01 {top:365px;}
.wrap_bg_con > .bg01 img {transform:translateX(-517px); clip-path:polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);}
.wrap_bg_con > .bg02 {top:441px;}
.wrap_bg_con > .bg02 img {width:168px; transform:translateX(-250px);}
.wrap_bg_con > .bg03 {text-align:right; top:839px;}
.wrap_bg_con > .bg03 img {transform:translateX(291px);}
.wrap_bg_con > .bg04 {text-align:right; top:842px; }
.wrap_bg_con > .bg04 img {width:151px; transform:translateX(331px);}
.wrap_bg_con > .bg05 {text-align:right; top:925px; }
.wrap_bg_con > .bg05 img {transform:translateX(420px); clip-path:polygon(100% 0, 100% 0, 100% 100%, 100% 100%);}
.wrap_bg_con > .bg06 {top:236px;}
.wrap_bg_con > .bg06 div {}
.wrap_bg_con > .bg06 img {transform:translateX(-120px); /*animation:shake_star01 1.3s infinite linear;*/}
.wrap_bg_con > .bg07 {text-align:right; top:114px; }
.wrap_bg_con > .bg07 img {transform:translateX(29px); /*animation:shake_star02 1.3s infinite linear;*/}
.wrap_bg_con > .bg08 {top:1016px;}
.wrap_bg_con > .bg08 img {transform:translateX(-133px); /*animation:shake_star03 1.3s infinite linear;*/}
.wrap_bg_con > .bg09 {top:704px;}
.wrap_bg_con > .bg09 span {transform:translateX(-339px) rotate(-13.548deg); font-size:36px; clip-path:polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);}
.wrap_bg_con > .bg10 {text-align:right; top:360px;}
.wrap_bg_con > .bg10 span {transform:translateX(285px) rotate(17.293deg); font-size:64px; clip-path:polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);}
.wrap_bg_con > .bg11 {text-align:right; top:451px;}
.wrap_bg_con > .bg11 span {transform:translateX(321px) rotate(-11.387deg); font-size:24px; clip-path:polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);}
.wrap_bg_con > .bg.text {}
.wrap_bg_con > .bg.text span {display:inline-block; color:#fff; font-family:"Eraser", sans-serif; text-transform:uppercase; opacity:0.4;}

@keyframes shake_star01 {
    0% {
        transform:translateX(-120px) rotate(0deg);
    }
    5% { 
        transform:translateX(-120px) rotate(-8deg);
    }
    17% { 
        transform:translateX(-120px) rotate(3deg);
    }
    29% { 
        transform:translateX(-120px) rotate(0deg);
    }
}

@keyframes shake_star02 {
    0% {
        transform:translateX(29px) rotate(0deg);
    }
    5% { 
        transform:translateX(29px) rotate(-3deg);
    }
    17% { 
        transform:translateX(29px) rotate(3deg);
    }
    29% { 
        transform:translateX(29px) rotate(0deg);
    }
}

@keyframes shake_star03 {
    0% {
        transform:translateX(-133px) rotate(0deg);
    }
    5% { 
        transform:translateX(-133px) rotate(-3deg);
    }
    17% { 
        transform:translateX(-133px) rotate(3deg);
    }
    29% { 
        transform:translateX(-133px) rotate(0deg);
    }
}

/* 메인타이틀 얼마나 아세요? */
@keyframes shake_main_title_text02_div {
    0% {
        transform:rotate(0deg);
    }
    5% { 
        transform:rotate(3deg);
    }
    17% { 
        transform:rotate(-3deg);
    }
    29% { 
        transform:rotate(0deg);
    }
}

/* 스크린 골프 창업 좌우 배경 깜빡 */
@keyframes shake_main_title_text01_div_bg {
    0% {
        opacity: 0.6;
    }
    5% { 
        opacity: 1;
    }
    17% { 
        opacity: 0.6;
    }
    29% { 
        opacity: 1;
    }
}

/* 헤더 */
#header {width:100%; padding-top:50px; position:relative; top:0; left:0; z-index:50;}
#header > .contents_con {width:100%; max-width:934px; margin:0 auto;}
#header > .contents_con > .title_con {}
#header > .contents_con > .title_con > .text01_con {display:flex; justify-content:center; align-items:center; width:400px; height:50px; margin:0 auto; background-color:#005929; border-radius:60px; -webkit-border-radius:60px; -moz-border-radius:60px; box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset; -webkit-box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset; -moz-box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;}
#header > .contents_con > .title_con > .text01_con > .img {width:161px;}
#header > .contents_con > .title_con > .text01_con > .text {margin-left:4px; transform:translateY(2px);}
#header > .contents_con > .title_con > .text01_con > .text span {font-size:24px; color:#fff; font-weight:700; line-height:normal; font-family:"NEXON Lv1 Gothic", sans-serif;}
#header > .contents_con > .title_con > .text02_con {}
#header > .contents_con > .title_con > .text02_con > .text_div {margin:0 auto; position:relative; top:0; left:0;}
#header > .contents_con > .title_con > .text02_con > .text01_div {width:459px;}
#header > .contents_con > .title_con > .text02_con > .text01_div > .bg {}
#header > .contents_con > .title_con > .text02_con > .text01_div > .bg > .bg {position:absolute;}
#header > .contents_con > .title_con > .text02_con > .text01_div > .bg > .bg01 {top:-12px; left:-95px;}
#header > .contents_con > .title_con > .text02_con > .text01_div > .bg > .bg02 {top:-37px; right:-80px;}
#header > .contents_con > .title_con > .text02_con > .text01_div > .bg.on > .bg {animation:shake_main_title_text01_div_bg 1.4s infinite linear; animation-delay: 1.4s;}
#header > .contents_con > .title_con > .text02_con > .text02_div {width:709px;}
#header > .contents_con > .title_con > .text02_con > .text02_div > .text_con {margin-top:-31px;}
#header > .contents_con > .title_con > .text02_con > .text02_div > .text01_con {position:relative; top:0; left:0; z-index:10;}
#header > .contents_con > .title_con > .text02_con > .text02_div > .text02_con {width:165px; position:absolute; top:0; right:-105px;}
#header > .contents_con > .title_con > .text02_con > .text02_div > .text02_con.on {animation:shake_main_title_text02_div 1.4s infinite linear; animation-delay:0.7s;}

/* 메인 */
#main_con {padding-top:39px;}
#main_con > .info01_con {position:relative; top:0; left:0;}
#main_con > .info01_con > .bookmark {width:100%; max-width:1086px; height:740px; margin:0 auto; position:absolute; top:0; left:0; right:0;}
#main_con > .info01_con > .bookmark .bg {position:absolute;}
#main_con > .info01_con > .bookmark .bg01 {top:46px; right:-51px; z-index:35;}
#main_con > .info01_con > .bookmark .bg02 {top:122px; right:-47px; z-index:25;}
#main_con > .info01_con > .bookmark .bg03 {top:186px; right:-33px; z-index:15;}
#main_con > .info01_con > .bookmark.quiz01 > .bg01 {z-index:60;}
#main_con > .info01_con > .bookmark.quiz02 > .bg02 {z-index:60;}
#main_con > .info01_con > .bookmark.quiz03 > .bg03 {z-index:60;}
#main_con > .info01_con > .page_bg {width:100%; max-width:1086px; height:740px; margin:0 auto; position:absolute; top:0; left:0; right:0;}
#main_con > .info01_con > .page_bg .bg {width:100%; height:100%; border:3px solid #000; position:absolute; border-radius:20px; -webkit-border-radius:20px; -moz-border-radius:20px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
#main_con > .info01_con > .page_bg .bg01 {background-color:#D9D9D9; top:12px; right:-6px; z-index:30;}
#main_con > .info01_con > .page_bg .bg02 {background-color:#ADADAD; top:18px; right:-12px; z-index:20;}
#main_con > .info01_con > .page_bg .bg03 {background-color:#8A8A8A; top:24px; right:-18px; z-index:10;}
#main_con > .info01_con > .contents_con {width:100%; max-width:1086px; margin:0 auto; padding-bottom:147px; position:relative; top:0; left:0; z-index:50;}
#main_con > .info01_con > .contents_con > .spring_con {width:889px; margin:0 auto; position:absolute; top:-39px; left:0; right:0; z-index:40;}
#main_con > .info01_con > .contents_con > .quiz_con {border:3px solid #000; background-color:#ECFDF4; border-radius:20px; -webkit-border-radius:20px; -moz-border-radius:20px; overflow:hidden;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con {display:block; height:740px; padding:164px 115px 0; position:relative; top:0; left:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .title_con {position:relative; top:0; left:0; z-index:10;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .title_con > .text01_con {position:relative; top:0; left:0;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .title_con > .text01_con > .bubble_con {width:140px; height:55.5px; position:absolute; top:-79.5px; right:229px;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .title_con > .text01_con > .bubble_con img {width:100%;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .title_con > .text01_con > .text_con {display:flex; justify-content:space-between; position:relative; top:0; left:0;} 
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .title_con > .text01_con > .text_con > .text_div {}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .title_con > .text01_con > .text_con > .text_div span {font-size:140px; color:#FD780F; line-height:normal; font-family:"JalnanGothic", sans-serif;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .title_con > .text01_con > .text_con > .svg_con {display:flex; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .title_con > .text01_con > .text_con > .svg_con > .img {position:relative;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .title_con > .text01_con > .text_con > .svg_con > .img:nth-child(1) {top:-30px; left:24px;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .title_con > .text01_con > .text_con > .svg_con > .img:nth-child(2) {bottom:-30px; left:-24px;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .title_con > .text02_con {margin-top:92px; text-align:center;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .title_con > .text02_con > .text01_div {}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .title_con > .text02_con > .text01_div span {font-size:26px; color:#030303; font-weight:700; line-height:120%; font-family:"NEXON Lv1 Gothic", sans-serif;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .title_con > .text02_con > .text02_div {margin-top:10px;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .title_con > .text02_con > .text02_div span {font-size:40px; color:#030303; line-height:120%; font-family:"JalnanGothic", sans-serif;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .btn_con {width:280px; margin:36px auto 0; text-align:center; position:relative; top:0; left:0; z-index:10;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .btn_con:after {content:""; width:100%; height:100%; background-color:#000; position:absolute; bottom:-10px; left:0; border-radius:60px; -webkit-border-radius:60px; -moz-border-radius:60px; transition:all 0.3s ease;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .btn_con a {display:block; border:3px solid #000; background-color:#FD780F; position:relative; top:0; left:0; z-index:10; border-radius:60px; -webkit-border-radius:60px; -moz-border-radius:60px; transition:all 0.3s ease;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .btn_con a span {position:relative; top:0; left:0; z-index:20; font-size:40px; color:#fff; line-height:80px; font-family:"JalnanGothic", sans-serif;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .btn_con:hover a {transform:translateY(10px);}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .bg_con {display:flex; align-items:flex-start; width:100%; height:100%; position:absolute; bottom:0; left:0; overflow:hidden;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .bg_con > .bg {position:absolute;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .bg_con > .bg:nth-child(1) {bottom:-3px; left:51px;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .bg_con > .bg:nth-child(2) {bottom:-3px; left:200px;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .bg_con > .bg:nth-child(3) {bottom:-3px; right:171px;}
#main_con > .info01_con > .contents_con > .quiz_con > .intro_con > .bg_con > .bg:nth-child(4) {bottom:-3px; right:33px;}

#main_con > .info01_con > .contents_con > .quiz_con > .test_con {}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con {}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz {display:none; height:740px; position:relative; top:0; left:0;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con {padding:80px 70px; position:relative; top:0; left:0; z-index:50;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con > .title_con {display:flex; align-items:flex-start;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con > .title_con > .text01_con {width:88px; margin-right:21px; position:relative; top:0; left:0;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con > .title_con > .text01_con {}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con > .title_con > .text01_con svg {width:100%;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con > .title_con > .text02_con {flex:1; margin-top:33px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con > .title_con > .text02_con span {font-size:40px; color:#333; line-height:140%; font-family:"JalnanGothic", sans-serif;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con > .title_con > .text02_con span .color_text {color:#FD780F; font-family:"JalnanGothic", sans-serif;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con > .btn_con {display:flex; justify-content:center; align-items:center; margin-top:86px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con > .btn_con > .btn {width:200px; margin-left:60px; transition:all 0.3s ease; cursor:pointer;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con > .btn_con > .btn a {display:block; position:relative; top:0; left:0; border-radius:30px; -webkit-border-radius:30px; -moz-border-radius:30px; transition:all 0.3s ease;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con > .btn_con > .btn a img {width:100%;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con > .btn_con > .btn a img.on {width:100%; position:absolute; top:0; left:0; z-index:10; opacity:0; transition:all 0.3s ease;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con > .btn_con > .btn:hover {padding-bottom:10px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con > .btn_con > .btn:hover a {transform:translateY(-10px); box-shadow:2px 2px 30px 0px rgba(0, 0, 0, 0.40); -webkit-box-shadow:2px 2px 30px 0px rgba(0, 0, 0, 0.40); -moz-box-shadow:2px 2px 30px 0px rgba(0, 0, 0, 0.40);}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con > .btn_con > .btn:hover a img.on {opacity:1;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .contents_con > .btn_con > .btn:first-child {margin-left:0;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .bg_con {}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .bg_con > div {width:100%; position:absolute; bottom:0; left:0;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz > .bg_con > div img {width:100%;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz01 > .bg_con > .bg > img {width:auto; max-width:inherit; height:100%;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz01 > .bg_con > .person02 {z-index:10;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .quiz_con > .quiz01 > .bg_con > .counter {z-index:20;}

#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con {overflow:hidden;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz {display:none; background-color:#ECFDF4; position:relative; top:0; left:0;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con {height:740px; padding:80px 0; position:relative; top:0; left:0; z-index:20; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .title_con {text-align:center;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .title_con > .text01_con {width:143px; margin:0 auto;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .title_con > .text02_con {margin-top:10px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .title_con > .text02_con span {font-size:32px; color:#333; line-height:130%; font-family:"JalnanGothic", sans-serif;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .title_con > .text02_con span .color_text {border-top:4px solid #FD780F; background-image:linear-gradient(to right, #FD780F, #FD780F); background-repeat:no-repeat; background-position:top -4px center; color:#fff; font-family:"JalnanGothic", sans-serif;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .contents_con {}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .btn_con {width:258px; height:70px; margin:0 auto;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .btn_con > a {display:flex; justify-content:center; align-items:center; height:100%; border:3px solid #006F3F; position:relative; top:0; left:0; border-radius:60px; -webkit-border-radius:60px; -moz-border-radius:60px; transition:all 0.3s ease; overflow:hidden;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .btn_con > a > div {position:relative; top:0; left:0; z-index:10;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .btn_con > a > .text {margin-right:17px; transform:translateY(4px);}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .btn_con > a > .text span {font-size:30px; color:#006F3F; line-height:normal; font-family:"JalnanGothic", sans-serif; transition:all 0.3s ease;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .btn_con > a > .img {width:25px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .btn_con > a > .img svg {width:100%;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .btn_con > a > .img svg path {stroke:#006F3F; transition:all 0.3s ease;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .btn_con.detail {width:346px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .btn_con.detail > a {border-color:#FD780F;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .btn_con.detail > a > .text span {color:#FD780F;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .btn_con.detail > a > .img svg path {stroke:#FD780F;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .btn_con > a:hover {background-color:#006F3F;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .btn_con > a:hover > .text span {color:#fff;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .btn_con > a:hover > .img svg path {stroke:#fff;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .contents_con > .btn_con.detail > a:hover {background-color:#FD780F;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .bg_con {}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .bg_con > div {display:flex; justify-content:flex-end; width:100%; height:100%; position:absolute; bottom:0; left:0;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .bg_con > div img {width:100%;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz > .result_bg_con {width:490px; position:absolute; top:-150px; left:-146px; z-index:10;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz01 > .contents_con > .contents_con {margin:17px auto 50px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz01 > .contents_con > .contents_con > .img_con {width:704px; margin:0 auto; position:relative; top:0; left:0;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz01 > .contents_con > .contents_con > .img_con > .img_div {width:381px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz01 > .contents_con > .contents_con > .img_con > .img_div:nth-child(1) {position:relative; top:0; left:0;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz01 > .contents_con > .contents_con > .img_con > .img_div:nth-child(2) {position:absolute; top:43px; right:0;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz01 > .contents_con > .contents_con > .img_con > .img_div:nth-child(3) {width:28px; position:absolute; top:23px; right:-31px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz01 > .bg_con {opacity:0.2;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz01 > .bg_con > .person02 {z-index:10;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz01 > .bg_con > .counter {z-index:20;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz02 > .contents_con > .contents_con {height:274px; margin:30px 0 40px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con {margin:12px 0 24px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con {width:716px; margin:0 auto; background-color:#EEE; padding:20px; text-align:center; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .title_con {display:flex; justify-content:space-between; align-items:flex-end; margin-bottom:10px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .title_con > .text01_con {}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .title_con > .text01_con span {font-size:16px; color:#FD780F; line-height:normal; letter-spacing:-0.8px; font-family:"JalnanGothic", sans-serif;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .title_con > .text02_con {width:93px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .title_con > .text02_con svg {width:100%;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con {}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul {display:flex; flex-wrap:wrap;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul:after {display:none;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li {display:flex; justify-content:center; align-items:center; width:32%; background-color:#fff; margin:2% 2% 0 0;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li > .list_div {padding:14px 0 15px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li > .list_div > .title_con {margin-bottom:6px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li > .list_div > .title_con > .text01_con {}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li > .list_div > .title_con > .text01_con span {font-size:20px; color:#444; line-height:normal; font-family:"JalnanGothic", sans-serif;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li > .list_div > .title_con > .text02_con {}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li > .list_div > .title_con > .text02_con span {font-size:14px; color:#444; font-weight:500; line-height:normal;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li > .list_div > .price_con {}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li > .list_div > .price_con span {font-size:24px; color:#FD780F; line-height:normal; font-family:"JalnanGothic", sans-serif;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li.color {background-color:#FD780F;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li.color > .list_div > .title_con {margin-bottom:11px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li.color > .list_div > .title_con > .text01_con span {color:#fff;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li.color > .list_div > .price_con span {font-size:28px; color:#fff;} 
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li:nth-child(1),
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li:nth-child(2),
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li:nth-child(3) {margin-top:0;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .list_con > ul > li:nth-child(3n) {margin-right:0;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .text_con {margin-top:12px;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .contents_con > .contents_con > .table_con > .text_con span {font-size:14px; color:#999; font-weight:500; line-height:normal;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con > .quiz03 > .bg_con {opacity:0.2;}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con.wrong_con {}
#main_con > .info01_con > .contents_con > .quiz_con > .test_con > .result_con.wrong_con > .quiz {display:none;}
#main_con > .info01_con > .end_bg_con {width:100%; max-width:1086px; height:746px; margin:0 auto; position:absolute; top:0; left:50%; transform:translateX(-50%); z-index:60;}
#main_con > .info01_con > .end_bg_con > .bg {position:absolute;}
#main_con > .info01_con > .end_bg_con > .bg01 {top:194px; left:-19px;}
#main_con > .info01_con > .end_bg_con > .bg02 {top:256px; left:138px;}
#main_con > .info01_con > .end_bg_con > .bg03 {top:398px; left:-19px;}
#main_con > .info01_con > .end_bg_con > .bg04 {top:210px; right:104px;}
#main_con > .info01_con > .end_bg_con > .bg05 {top:307px; right:-34px;}
#main_con > .info01_con > .end_bg_con > .bg06 {top:356px; right:74px;}
#main_con > .info01_con > .contents_con > .end_con {border:3px solid #000; background-color:#ECFDF4; position:relative; top:0; left:0; border-radius:20px; -webkit-border-radius:20px; -moz-border-radius:20px; overflow:hidden;}
#main_con > .info01_con > .contents_con > .end_con > .contents_con {height:740px; padding-top:208px; text-align:center; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
#main_con > .info01_con > .contents_con > .end_con > .contents_con > .title_con {margin-bottom:25px;}
#main_con > .info01_con > .contents_con > .end_con > .contents_con > .title_con span {font-size:40px; color:#FD780F; line-height:140%; font-family:"JalnanGothic", sans-serif;}
#main_con > .info01_con > .contents_con > .end_con > .contents_con > .text_con {}
#main_con > .info01_con > .contents_con > .end_con > .contents_con > .text_con > .text_div {margin-top:25px;}
#main_con > .info01_con > .contents_con > .end_con > .contents_con > .text_con > .text_div span {font-size:32px; color:#333; font-weight:700; line-height:140%; font-family:"NEXON Lv1 Gothic", sans-serif;}
#main_con > .info01_con > .contents_con > .end_con > .contents_con > .text_con > .text_div:first-child {margin-top:0;}
#main_con > .info01_con > .contents_con > .end_con > .logo_con {width:242px; margin:0 auto; position:absolute; bottom: 73px; left:0; right:0;}
#main_con > .info01_con > .contents_con > .end_con > .logo_con svg {width:100%;}
#main_con > .info01_con > .contents_con > .end_con > .bg_con {display:flex; align-items:flex-start; width:100%; height:100%; position:absolute; bottom:0; left:0; overflow:hidden;}
#main_con > .info01_con > .contents_con > .end_con > .bg_con > .bg {position:absolute;}
#main_con > .info01_con > .contents_con > .end_con > .bg_con > .bg:nth-child(1) {bottom:-3px; left:51px;}
#main_con > .info01_con > .contents_con > .end_con > .bg_con > .bg:nth-child(2) {bottom:-3px; left:200px;}
#main_con > .info01_con > .contents_con > .end_con > .bg_con > .bg:nth-child(3) {bottom:-3px; right:171px;}
#main_con > .info01_con > .contents_con > .end_con > .bg_con > .bg:nth-child(4) {bottom:-3px; right:33px;}
#main_con > .info01_con > .contents_con > .intro_con {display:flex; align-items:flex-start; margin-top:64px; padding:0 60px;}
#main_con > .info01_con > .contents_con > .intro_con > .title_con {width:180px;}
#main_con > .info01_con > .contents_con > .intro_con > .title_con span {font-size:24px; color:#FFFCA9; line-height:normal; font-family:"JalnanGothic", sans-serif;}
#main_con > .info01_con > .contents_con > .intro_con > .list_con {flex:1;}
#main_con > .info01_con > .contents_con > .intro_con > .list_con > ul {}
#main_con > .info01_con > .contents_con > .intro_con > .list_con > ul > li {margin-top:10px; word-break:keep-all;}
#main_con > .info01_con > .contents_con > .intro_con > .list_con > ul > li span {display:inline-block; padding-left:16px; position:relative; top:0; left:0; font-size:16px; color:#fff; font-weight:500; line-height:normal;}
#main_con > .info01_con > .contents_con > .intro_con > .list_con > ul > li span:after {content:""; width:6px; height:6px; background-color:#fff; position:absolute; top:6px; left:0; border-radius:100%; -webkit-border-radius:100%; -moz-border-radius:100%;}
#main_con > .info01_con > .contents_con > .intro_con > .list_con > ul > li:first-child {margin-top:0;}

/* 푸터 */
#footer {background-color:#171A1F; margin-top:-284px; position:relative; top:0; left:0; z-index:10;}
#footer > .contents_con {width:100%; max-width:1200px; margin:0 auto; padding:40px 0 64px 0;}
#footer > .contents_con:after {content:""; display:block; clear:both;}
#footer > .contents_con > .text01_con {float:left;}
#footer > .contents_con > .text01_con span {font-size:20px; color:#666E7C; font-weight:800; line-height:32px;}
#footer > .contents_con > .text02_con {float:left; margin:0 0 0 139px;}
#footer > .contents_con > .text02_con > .text01_con {}
#footer > .contents_con > .text02_con > .text01_con span {font-size:14px; color:#D9D9D9; font-weight:500; line-height:24px;}
#footer > .contents_con > .text02_con > .text01_con span .bar {font-size:12px; line-height:22px;}
#footer > .contents_con > .text02_con > .text02_con.w_con {margin-top:16px;}
#footer > .contents_con > .text02_con > .text02_con.w_con span {font-size:12px; color:#666E7C; font-weight:500; line-height:32px;}
#footer > .contents_con > .text03_con {float:right; text-align:right;}
#footer > .contents_con > .text03_con > .text01_con {}
#footer > .contents_con > .text03_con > .text01_con span {font-size:14px; color:#D9D9D9; font-weight:700; line-height:24px;}
#footer > .contents_con > .text03_con > .text02_con {}
#footer > .contents_con > .text03_con > .text02_con .a_btn {font-size:24px; color:#D9D9D9; font-weight:800; line-height:24px; cursor:default;}
#footer > .contents_con > .text04_con.m_con {margin:min(2.78vw, 10px) 0 0 0;}/*vw 계산 기준 360*/
#footer > .contents_con > .text04_con.m_con span {font-size:min(2.78vw, 10px); color:#666E7C; font-weight:500; line-height:320%;}/*vw 계산 기준 360*/

/*하단 퀵*/
#bottom_quick {width:100%; margin:0 auto; background-color:#FD9E0F ; position:fixed; bottom:0; left:0; right:0; z-index:50;}
#bottom_quick > .contents_con {width:100%; max-width:1200px; margin:0 auto; padding:12px 0;}
#bottom_quick > .contents_con .write_con {}
#bottom_quick > .contents_con .write_con:after {content:""; display:block; clear:both;}
#bottom_quick > .contents_con .write_con > .title_con {float:left; width:22.08%; max-width:265px; padding:1px 0;}
#bottom_quick > .contents_con .write_con > .title_con:after {content:""; display:block; clear:both;}
#bottom_quick > .contents_con .write_con > .title_con > .text01_con {}
#bottom_quick > .contents_con .write_con > .title_con > .text01_con span {font-size:16px; color:#222; font-weight:700; line-height:normal; font-family:"NEXON Lv1 Gothic", sans-serif;}
#bottom_quick > .contents_con .write_con > .title_con > .text02_con {margin-top:6px;}
#bottom_quick > .contents_con .write_con > .title_con > .text02_con .a_btn {display:inline-block; cursor:default;}
#bottom_quick > .contents_con .write_con > .title_con > .text02_con .a_btn > img {width:32px; margin:0 4px 0 0; vertical-align:middle;}
#bottom_quick > .contents_con .write_con > .title_con > .text02_con .a_btn > span {font-size:32px; color:#222; letter-spacing:2.8px; font-family:"JalnanGothic", sans-serif; vertical-align:middle;}
#bottom_quick > .contents_con .write_con > .input_con {float:left; width:40.83%; max-width:490px; padding:6px 0;}
#bottom_quick > .contents_con .write_con > .input_con > ul {}
#bottom_quick > .contents_con .write_con > .input_con > ul > li {float:left; width:49%; margin:0 0 0 2%;}
#bottom_quick > .contents_con .write_con > .input_con > ul > li .input {height:48px; border:none; padding:0 16px; border-radius:60px; -webkit-border-radius:60px; -moz-border-radius:60px;}
#bottom_quick > .contents_con .write_con > .input_con > ul > li:first-child {margin:0;}
#bottom_quick > .contents_con .write_con > .agree_con {float:left; width:23.75%; max-width:285px; text-align:center;}
#bottom_quick > .contents_con .write_con > .agree_con .a_btn {display:inline-block;}
#bottom_quick > .contents_con .write_con > .agree_con .a_btn > .check_icon {display:inline-block; width:32px; height:32px; background-image:url("/pf/ts_ox/img/sub/checkbox_icon_off.svg"); background-repeat:no-repeat; background-size:cover; background-position:center; margin:0 4px 0 0; vertical-align:middle; cursor:pointer;}
#bottom_quick > .contents_con .write_con > .agree_con .a_btn > span {font-size:16px; color:#FFF; line-height:60px; text-decoration-line:underline; vertical-align:middle;}
#bottom_quick > .contents_con .write_con > .agree_con .a_btn.on > .check_icon {background-image:url("/pf/ts_ox/img/sub/checkbox_icon_on.svg");}
#bottom_quick > .contents_con .write_con > .btn_con {float:left; width:13.33%; max-width:160px;}
#bottom_quick > .contents_con .write_con > .btn_con .a_btn {display:block; background-color:#222; text-align:center; font-size:24px; color:#fff; line-height:60px; font-family:"JalnanGothic", sans-serif; border-radius:60px; -moz-border-radius:60px; -webkit-border-radius:60px;}

/* 입력 팝업 */
.apply_popup_con_bg {display:none; width:100%; height:100%; margin:0 auto; background-color:#000000; background-color:rgba(0,0,0,0.5); position:fixed; top:0; left:0; right:0; z-index:100;}
.apply_popup_con {display:none; width:100%; max-width:680px; margin:0 auto; position:fixed; top:50%; left:0; right:0; z-index:200; transform:translateY(-50%);}
.apply_popup_con > .contents_con {background-color:#ffffff; padding:40px 20px; position:relative; top:0; left:0;}
.apply_popup_con > .contents_con > .close_btn {width:40px; position:absolute; top:10px; right:10px; z-index:10;}
.apply_popup_con > .contents_con > .close_btn > a {display:block;}
.apply_popup_con > .contents_con > .close_btn > a img {width:100%;}
.apply_popup_con > .contents_con > .sales_con {margin-bottom:16px; text-align:center;}
.apply_popup_con > .contents_con > .sales_con > .text01_con {}
.apply_popup_con > .contents_con > .sales_con > .text01_con span {font-size:24px; color:#222; font-weight:500; font-family:"Esamanru", sans-serif;}
.apply_popup_con > .contents_con > .sales_con > .text02_con {margin-top:4px;}
.apply_popup_con > .contents_con > .sales_con > .text02_con span {}
.apply_popup_con > .contents_con > .sales_con > .text02_con span .text01 {font-size:64px; color:#FD780F; font-family:LABDigital;}
.apply_popup_con > .contents_con > .sales_con > .text02_con span .text02 {font-size:20px; color:#222; font-weight:300; font-family:"Esamanru", sans-serif;}
.apply_popup_con > .contents_con > .contents_con {}
.apply_popup_con > .contents_con > .contents_con > .title_con {margin-bottom:20px;}
.apply_popup_con > .contents_con > .contents_con > .title_con > table {width:100%; margin:0 auto;}
.apply_popup_con > .contents_con > .contents_con > .title_con > table > tbody > tr > td {}
.apply_popup_con > .contents_con > .contents_con > .title_con > table > tbody > tr > .bar_td {width:19%;}
.apply_popup_con > .contents_con > .contents_con > .title_con > table > tbody > tr > .bar_td div {border-top:1px dashed #CACACA;}
.apply_popup_con > .contents_con > .contents_con > .title_con > table > tbody > tr > .text_td {}
.apply_popup_con > .contents_con > .contents_con > .title_con > table > tbody > tr > .text_td span {font-size:24px; color:#444; font-weight:500; font-family:"Esamanru", sans-serif;}
.apply_popup_con > .contents_con > .contents_con > .contents_con {}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .title_con {margin-bottom:30px; text-align:center;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .title_con span {font-size:24px; color:#444; line-height:140%; font-family:"NEXON Lv1 Gothic", sans-serif;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .title_con span .color_text {font-weight:700; font-family:"NEXON Lv1 Gothic", sans-serif;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .title_con span .color_text02 {color:#fd780f; font-weight:700; font-family:"NEXON Lv1 Gothic", sans-serif;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con {}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con {}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con {}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .input_con {border:3px solid #333; background-color:#FD9E0F; padding:16px 34px 22px;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .input_con > .title_con {margin-bottom:8px; text-align:center;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .input_con > .title_con > .text01_con {}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .input_con > .title_con > .text01_con span {font-size:16px; color:#222; font-weight:700; font-family:"NEXON Lv1 Gothic", sans-serif;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .input_con > .title_con > .text02_con {margin-top:6px;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .input_con > .title_con > .text02_con .a_btn {display:inline-block; cursor:default;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .input_con > .title_con > .text02_con .a_btn > img {width:32px; margin:0 8px 0 0 ; vertical-align:top;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .input_con > .title_con > .text02_con .a_btn > span {font-size:32px; color:#222; font-family:"JalnanGothic", sans-serif; vertical-align:middle;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .input_con > .input_con {}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .input_con > .input_con > ul {}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .input_con > .input_con > ul > li {float:left; width:49%; margin:0 0 0 2%;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .input_con > .input_con > ul > li .input {height:48px; border:none; padding:0 16px; border-radius:60px; -moz-border-radius:60px; -webkit-border-radius:60px;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .input_con > .input_con > ul > li:first-child {margin:0;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .agree_con {margin-top:10px; text-align:right;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .agree_con .a_btn {display:inline-block;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .agree_con .a_btn > .check_icon {display:inline-block; width:32px; height:32px; background-image:url("/pf/ts_ox/img/sub/checkbox_icon_off_2.svg"); background-repeat:no-repeat; background-size:cover; background-position:center; margin:0 4px 0 0; vertical-align:middle; cursor:pointer;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .agree_con .a_btn > span {font-size:16px; color:#999; text-decoration-line:underline; vertical-align:middle;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .contents_con > .agree_con .a_btn.on > .check_icon {background-image:url("/pf/ts_ox/img/sub/checkbox_icon_on.svg");}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .btn_con {margin-top:20px; text-align:center;}
.apply_popup_con > .contents_con > .contents_con > .contents_con > .contents_con .write_con > .btn_con .a_btn {display:inline-block; width:200px; background-color:#222; text-align:center; font-size:24px; color:#FFF; line-height:60px; font-family:"JalnanGothic", sans-serif; border-radius:60px; -moz-border-radius:60px; -webkit-border-radius:60px;}

/* 약관동의 팝업 */
.agree_popup_con_bg {display:none; width:100%; height:100%; margin:0 auto; background-color:#000000; background-color:rgba(0,0,0,0.5); position:fixed; top:0; left:0; right:0; z-index:100;}
.agree_popup_con {display:none; width:100%; max-width:680px; margin:0 auto; position:fixed; top:50%; left:0; right:0; z-index:200; transform:translateY(-50%);}
.agree_popup_con > .contents_con {border:3px solid #333; background-color:#ffffff; padding:18px 20px 44px; position:relative; top:0; left:0;}
.agree_popup_con > .contents_con > .close_btn {width:40px; position:absolute; top:11px; right:10px; z-index:10;}
.agree_popup_con > .contents_con > .close_btn a {display:block;}
.agree_popup_con > .contents_con > .close_btn a img {width:100%;}
.agree_popup_con > .contents_con > .title_con {margin-bottom:16px; padding-left:20px;}
.agree_popup_con > .contents_con > .title_con span {font-size:24px; color:#222; font-weight:700; line-height:140%; font-family:"NEXON Lv1 Gothic", sans-serif;}
.agree_popup_con > .contents_con > .posts_con {}
.agree_popup_con > .contents_con > .posts_con > .scroll_con {border:3px solid #333; padding:4px;}
.agree_popup_con > .contents_con > .posts_con > .scroll_con > .contents_con {height:338px; padding:10px 20px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; word-break:keep-all; overflow-y:auto;}
.agree_popup_con > .contents_con > .posts_con > .scroll_con > .contents_con span {font-size:18px; color:#999; font-weight:400; line-height:166.667%;}
.agree_popup_con > .contents_con > .posts_con > .scroll_con > .contents_con::-webkit-scrollbar-track {background-color:transparent;}
.agree_popup_con > .contents_con > .posts_con > .scroll_con > .contents_con::-webkit-scrollbar {width:6px; background-color:transparent;}
.agree_popup_con > .contents_con > .posts_con > .scroll_con > .contents_con::-webkit-scrollbar-thumb {background-color:#222; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px;}
.agree_popup_con > .contents_con > .btn_con {margin-top:24px; text-align:center;}
.agree_popup_con > .contents_con > .btn_con .a_btn {display:inline-block; width:200px; background-color:#222; text-align:center; font-size:24px; color:#FFF; line-height:60px; font-family:"JalnanGothic", sans-serif; border-radius:60px; -moz-border-radius:60px; -webkit-border-radius:60px;}

@keyframes flicker {
    0%    {opacity:1;}
    3%    {opacity:0.4;}
    6%    {opacity:1;}
    7%    {opacity:0.4;}
    8%    {opacity:1;}
}